@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}
